<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        body{
            background-color: #D8C99B;
            margin: 0;
            font-family: sans-serif;
            overflow: hidden;
        }
        nav{
            background-color: #273E47;
            color: white;
        }
        nav h1{
            text-align: center;
            margin-top: 0;
            padding: 5px 0px;
        }
        form{
            display: flex;
            flex-direction: column;
            gap: 18px;
            margin-top: 20px;
        }
        #head{
            border: 2px solid black;
            border-radius: 10px;
            padding: 20px;
            display: flex;
            justify-content: space-between;
            background-color: #273E47;
            color: white;
            max-width: 800px;
            place-content: center;
            margin: auto;
            /* place-self: center; */
            /* justify-self: center; */
        }
        table{
            width: 100%;
            text-align: center;
        }
        th, td{
            /* height: 35px; */
            padding: 10px;
        }
        #head h1{
            margin-bottom: 0;
        }
        #but button{
            background-color: #D8973C;
            height: 25px;
            border-radius: 5px;
            font-size: 12px;
            font-weight: bold;
            width: 50px;
        }
        #but{
            display: flex;
            place-content: center;
            flex-wrap: wrap;
        }
        th, td, table{
            border: 1px solid wheat;
        }
        #search{
            margin-bottom: 10px;
        }
        #search input{
            height: 25px;
            border: 2px solid black;
            border-radius: 5px;
        }
        #search button{
            height: 25px;
            border: 2px solid;
            border-radius: 5px;
            font-weight: bold;
        }
        tbody tr:hover{
            background-color: #ffffff;
            color: black;
        }
    </style>
</head>
<body>
    
    <nav>
        <h1>User Management Database</h1>
    </nav>
    <div id="search">
        <input type="search" id="searching">
        <button id="butt">SEARCH</button>
    </div>
    <div id="head">
        <h1 style="margin-top: 0;">404. NOT FOUND</h1>
    </div>


        <script>
        let button = document.getElementById("butt")
        button.addEventListener("click", () => {
            let val = document.getElementById("searching").value

            if (val.length === 0) {
                alert("Enter something")
            } else {
                window.location.href = `/api/read/${val}`
            }
            
             
        })

        
    </script>
</body>
</html>